
/* .gallery {
  text-align: center;
  margin-top: 20px;
} */

/* .grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
} */

/* img {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
} */
.meme-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.meme-slide img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

